
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

.contents{
	
    background: #eff;
	border: 1px grey solid;

}

.container-fluid {
padding-right: 0px;
padding-left: 20px;
}

td{
	max-width:300px;
}
