.img-polaroid {
padding: 4px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.addimgborder {
border: 2px solid #CCCCCC;
}

.addimgborder {
border: 2px solid #CCCCCC;
}

.standardPolaroid{

		margin:4px;
		width:90px;
		height:90px;

}

.mainParagraph{
	width:102px;
	height:20px;
	overflow:hidden;
}

p {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
margin-left:4px;
margin-bottom:0px;
}

.hero-unit{
border: 1px solid #000000;	
padding:20px;
margin-bottom: 0px;
margin:10px;
}	

#input {
        border: 1px solid #000000;
        height:30px;
        margin-bottom:0px;
}

body {
        padding-top: 0px;
}

#carouselhero{
float:left;
width:100%;
padding:0px;
}

#loaded-div{
margin-bottom: 0px;
padding-bottom: 0px;
}

#linkx-unit{
display: none;
margin-top:20px;
padding:0px;
}

#gbc_time{
margin-bottom:0px;
}

#bcsearchinput{
margin-bottom:0px;
height:30px;
}

footer{
        text-align:center;
}

#bonuslist{
        margin: 0px;
}

.stdmargin{
margin:20px;
}

.bonuslink:link{
display:none;
}

.blabla{
max-width:none;
}
