body {
        line-height: 1.6em;
}

#pattern-style-b tbody tr:hover td {
        color: #339;
        background: #cdcdee;
}


body * {
        font-family: Arial, Geneva, SunSans-Regular, sans-serif;
        font-size: 14px;
        color: #222;
        line-height: 20px;
}

#tablevertmiddle {
        vertical-align: middle;
}

.btn {
        padding: 1px 12px;
}

.loading{
        width:400px;
        height:200px;
        margin:0 auto;
        /*background:#f7f7f7;*/
        position:fixed;
        left:50%;
        top:50%;
        margin-left:-250px;
        margin-top:-250px;
}
