.bonusborder{
    border: 3px solid #05BE0C;
}

.mainparagraph{
    width:102px;
    height:20px;
    overflow:hidden;
}

.bonuslink{
    list-style-type:none;
    display:inline-block;
}

.hidden{
    display: none;
}

.logolarge {
	width: 100px;
}

body{
	background-image: url("../img/bg.png");
    background-repeat: repeat;
    padding-top: 50px;
}

.logosmall {
	width: 30px;
	height: 30px;
}

.logomedium {
	width: 50px;
	height: 50px;
}

.logosmallheight {
	height: 40px;
}

.logomediumheight {
	height: 40px;
}

.navbar-text {
	padding: 12px 10px 5px;
}

.navbar-search {
	padding: 12px;
}

.navbaroffset {
	margin-top: 70px;
}

.navbarcustom{
	min-height:0px;
    height:37px;
}

.addimgborder {
	border: 2px solid #CCCCCC;
}
.addimgborder:hover {
	border: 2px solid #E6E4E4;
}

.removemarginpadding {
	margin: 0px;
	padding: 0px;
}

.addpadding {
	padding: 10px;
}

.addbigmargin {
	margin: 20px;
}

.addmargin {
	margin: 10px;
}

.addsmallmargin {
	margin: 4px;
}

.gamegenrecontainer {

}

.gamegenrecontainer img {
	width: 50px;
	height: 50px;
}

.gamegenrecontainer li {
	width: 90px;
}

.bottomgap {
	margin-bottom: 10px;
}

.addmarginright {
	margin-right: 10px;
}


ul {
	list-style-type: none;
    -webkit-padding-start: 0px;
}

p{
    margin: 0 0 0px;
}

.standardTile {
	width: 87px;
	height: 87px;
	margin: 4px;
}

.layered-paper {
	background: grey;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
	0 10px 0 -5px black, /* The second layer */
	0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
	0 20px 0 -10px grey, /* The third layer */
	0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
	width: 728px;
	height: 90px;
}

.small-layered-paper {
    background: grey;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px black, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px grey, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
       width:468px;
       height:60px;
}					

.east-layered-paper {
    background: #eff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px black, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px grey, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
       width:320px;
       height:900px;
}				

.like-layer-cake{
	
    background: white;
       width:300px;
       height:70px;
	
    box-shadow:
        0px 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        10px 0px 0 -5px black, /* The second layer */
        10px 0px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        20px 0px 0 -10px grey, /* The third layer */
        20px 0px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

.ad-layer-cake{
	
    background: white;
       width:300px;
       height:250px;
	
    box-shadow:
        0px 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        10px 0px 0 -5px black, /* The second layer */
        10px 0px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        20px 0px 0 -10px grey, /* The third layer */
        20px 0px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}
	
.recent-layer-cake{
	
    background: white;
       width:300px;
       height:300px;
	
    box-shadow:
        0px 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        10px 0px 0 -5px black, /* The second layer */
        10px 0px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        22px 0px 0 -10px grey, /* The third layer */
        22px 0px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

@media (max-width:767px) { 

    #mainadvert{
    display:none;
    }

}

#blabla {
    margin-bottom: 20px;
}

#bonuseslivehere {
    margin-top: 12px;
    margin-bottom: 100px;
}

#table_id_filter {
    margin: 0px auto;
    width: 50%;
    float: none;
    text-align: center;
}

.input-group-addon {
    border: none;
}
